<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    web.config değişikliklerinin açıklaması için http://go.microsoft.com/fwlink/?LinkId=235367 adresini inceleyin.

    Aşağıdaki öznitelikler <httpRuntime> etiket üzerinde ayarlanabilir.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
</configuration>